/* 🟧 Module 8 - Events: Lesson 01. Section Intro_ */

/* === DESIGN TOKENS === */
@import "./primitives.css";
@import "./semantic.css";

/* === HELPERS === */
@import "./utilities.css";

/* === UI COMPONENTS === */
@import "./components.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    line-height: var(--line-height-normal);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: var(--font-size-lg);
    
    background: var(--color-neutral-200);
    color: var(--color-text);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    background: none;
    text-decoration: none;
    color: inherit;
}


